* {
  font-family:
    Roboto,
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
