* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}
small {
  font-size: smaller;
}
header {
  border-radius: 1rem;
  background-color: #eaeaea;
  height: fit-content;
  box-shadow: 0.1rem 0.1rem 2rem 0 rgba(0, 0, 0, 0.8); /*15px  0.6*/
  margin-bottom: 3rem;
  display: flex;
  padding: 1.5rem 2.3rem;
  align-items: center;
}

header img {
  height: 3rem;
}
nav a {
  text-decoration: none;
  align-content: center;
  margin: 0rem 2rem;
  color: black;
}
nav {
  margin-left: 5rem;
  display: flex;
}

.op-loop {
  width: 30px;
}
.op-check {
  position: relative;
  top: 2.5px;
}
.boxy {
  border-radius: 7px;
  background-color: #e5e9e9;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.7); /*15px   0.3*/
  margin: 3px 1px;
  width: fit-content;
  height: 43px;
  align-content: center;
  padding: 0px 15px;
  display: inline-block;
}
.boxyy {
  border-radius: 3px;
  background-color: #e4e4e4;
  box-shadow: 3px 3px 5px 0 rgba(69, 69, 69, 0.463); /*15px   0.3*/
  margin: 1px;
  width: fit-content;
  height: 43px;
  align-content: center;
  padding: 0px 15px;
  display: inline-block;
  font-size: smaller;
}
.framed {
  border-radius: 3px;
  border: 1.5px solid black;
  margin: 1%;
  width: 98%;
  height: fit-content;
  align-content: center;
  padding: 10px 25px;
}

.framed input,
.framed .needgap {
  margin-right: 2em;
}

.book {
  padding: 15px;
  height: fit-content;
}
.book select,
.book .num-box,
.book input {
  margin: 4px 20px 4px 4px;
}

.new-division {
  margin: 30px 20px;
}
.form-box {
  margin: 30px 20px;
  padding: 30px;
  border: 2px solid black;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}
.simple-input {
  display: inline-block;
}
.gap {
  width: 10px;
  display: inline-block;
}
footer {
  font-weight: bold;
  color: white;
  position: fixed;
  bottom: 20px;
  right: 40px;
}
.hidden {
  display: none;
}
.hover {
  background-color: white;
}

.wid80 {
  width: 80px;
}
.wid60 {
  width: 60px;
}
.wid40 {
  width: 40px;
}
input {
  border-radius: 3px;
  border: 1.5px solid black;
  text-align: center;
  padding: 0.15rem 0rem;
}
select {
  border-radius: 3px;
  border: 1.5px solid black;
  text-align: center;
}
button {
  border-radius: 3px;
  border: 1.5px solid black;
}

.num-box {
  display: inline-block;
}
.num-box div {
  border: 1.5px solid black;
  border-radius: 4px;
  background-color: white;
  height: 24px;
  text-align: center;
  align-content: center;
}
.num-box small {
  color: dimgray;
}
b {
  margin: 0.3rem;
}
.ali-right > div {
  text-align: right;
}
.left-mar > label,
.left-mar > button {
  margin-left: 2rem;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.body1 {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
body {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.body3 {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.body4 {
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/washi.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
