:root {
  --mui-font-family:
    Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
body {
  font-family: var(--mui-font-family);
}

.MuiTypography-root {
  font-family: var(--mui-font-family) !important;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
